body {
	background-color: white;
	color: teal;
}

.about-right, .about-right md-content {
	color: #777777;
}

.bio {
	color: gray;
	background-color: inherit;
	text-align: center;
}

.jumbotron {
	background-color: inherit;
	color: inherit;
}

.material-icons {
	font-size: medium;
}

.social {
	padding: 15px;
}

.address {
	color: #AAAAAA;
	font-size: medium;
	font-style: italic;
}

.bio-container {
	background-color: #EEEEEE;
}