body {
	background-color: white;
	color: #555555;
}

.container-fluid {
	background-color: white;
}

.bio {
	background-color: inherit;
}

.publications {
	font-size: medium;
}

.jumbotron {
	background-color: inherit;
	color: inherit;
	margin-top: 0px;
	padding-left: 20px; 
	padding-right: 100px; 
	padding-bottom: 50px; 
	font-size: 24px;
}

.my-navs a {
	text-decoration: none;
}

.material-icons {
	font-size: medium;
}

.social {
	padding: 15px;
}

.address {
	color: #AAAAAA;
	font-size: medium;
	font-style: italic;
}