<div layout="column" flex>
	<div class="container">
		<h2>Informed Bandwidth Adaptation in Wi-Fi Networks using Ping-Pair [CoNEXT '17]</h2>
		<div>Rajdeep Das, Nimantha Baranasuriya, Venkata N. Padmanabhan, Christoffer Rödbro, and Seth Gilbert. 2017. Informed Bandwidth Adaptation in Wi-Fi Networks using Ping-Pair. In Proceedings of the 13th International Conference on emerging Networking EXperiments and Technologies (CoNEXT '17). ACM, New York, NY, USA, 376-388. DOI: <a target="_blank" href="https://doi.org/10.1145/3143361.3143390">https://doi.org/10.1145/3143361.3143390</a></div>

		<h2>Via: Improving Internet Telephony Call Quality Using Predictive Relay Selection [SIGCOMM '16]</h2>
		<div>Junchen Jiang, Rajdeep Das, Ganesh Ananthanarayanan, Philip A. Chou, Venkata Padmanabhan, Vyas Sekar, Esbjorn Dominique, Marcin Goliszewski, Dalibor Kukoleca, Renat Vafin, and Hui Zhang. 2016. Via: Improving Internet Telephony Call Quality Using Predictive Relay Selection. In Proceedings of the 2016 ACM SIGCOMM Conference (SIGCOMM '16). ACM, New York, NY, USA, 286-299. DOI: <a target="_blank" href="https://doi.org/10.1145/2934872.2934907">https://doi.org/10.1145/2934872.2934907</a></div>

		<h2>Automatic Grading and Feedback using Program Repair for Introductory Programming Courses [ITICSE '17]</h2>
		<div>Sagar Parihar, Ziyaan Dadachanji, Praveen Kumar Singh, Rajdeep Das, Amey Karkare, and Arnab Bhattacharya. 2017. Automatic Grading and Feedback using Program Repair for Introductory Programming Courses. In Proceedings of the 2017 ACM Conference on Innovation and Technology in Computer Science Education (ITiCSE '17). ACM, New York, NY, USA, 92-97. DOI: <a target="_blank" href="https://doi.org/10.1145/3059009.3059026">https://doi.org/10.1145/3059009.3059026</a></div>
	</div>
</div>